.note{
    background: #ccc;
    margin-top: 17px;
    padding: 4px 40px 2px 10px;
    display: flex;
    justify-content: space-between;
}

.note p{
    padding-top: 8px;
}

.note .delete_icon{
    display: flex;
    align-items: center;
    color: red;
    cursor: pointer;

}

.note .delete_icon:active{
    color: black;
    transition: 0.3s;
}